* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
  font-size: x-large;
  color: darkblue;
  padding: 5px;
  margin: 5px;
}

.smh {
  height: 150px;
  width: 50%;
}

#comment {
  width: 50%;
  height: 130px;
  padding: 10px;
  margin: 10px;
  background-color: whitesmoke;
  text-align: left;
}

[href] {
  border-radius: 1px solid red;
  color: rgb(15, 19, 15);
  margin-top: 20px;
}

::placeholder {
  color: chartreuse;
  background-color: cornflowerblue;
}
